

.homeSection{
  text-align: center;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 100px;
  margin-top: 30px;
}
.homeSection h1{
  font-size: 80px;
  text-transform: uppercase;
  margin: 0;
}

.homeSection h1 span{
  color: #ff284f;
}
.homeSection p{
  margin: 0;
  padding: 20px 0;
  margin-bottom: 20px;
}
.homeSection a{
  background-color: #ff284f;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;

}

@media screen and (max-width:992px){
  .homeSection{
    padding: 100px 15px;
  }
  .homeSection h1{
    font-size: 40px;
  }
}



@media screen and (max-width:768px){
  .homeSection h1{
    font-size: 20px;
  }
  .homeSection p{
    font-size: 14px;
  }
  .homeSection a{
    font-size: 14px;
  }
}